.btnAddContact {
  margin-top: 20px;
  cursor: pointer;
  background-color: rgb(214, 187, 187);
  border-radius: 10px;
}
.btnAddContact:hover {
  background-color: rgb(233, 88, 155);
}

.form {
  border: 2px solid rgb(219, 156, 211);
  border-radius: 4px;
  display: inline-flex;
  flex-direction: column;
  padding: 2px 20px 20px 20px;
}
.input {
  margin-top: 20px;
  background-color: rgb(231, 221, 221);
}
input:invalid {
  border: red solid 3px;
}
